{% extends 'basetemplates/layout-with-nav.jinja2' %}

{% block PageContent %}
{% if user %}
<h1 class="ui center aligned header">{{ user.username|e }}'s Pet House</h1><div class="ui divider"></div>

<div class="ui container">
    <div class="ui grid">
        <div class="sixteen wide mobile six wide computer column">
            <add-pet-form><div class="ui active centered inline loader"></div></add-pet-form>
        </div>
        <div class="sixteen wide mobile ten wide computer column">
            <pet-collection userid="{{ request.matchdict['id'] }}"><div class="ui active centered inline loader"></div></pet-collection>
        </div>
    </div>
</div>
{% endif %}
<script>
    System.import('showprofile').catch(function(err){ console.error(err); });
    //System.import('showpets').catch(function(err){ console.error(err); });
</script>
{% endblock %}