{% extends '../../../templates/layouts/layout-with-nav.jinja2' %}

{% block PageContent %}
<div class="row">
    {% if gallery %}
    <h3 class="page-header text-center">{{ gallery.title|e }}</h3>
    <p class="text-center text-info">{{ gallery.description|e }}</p>
    <p class="text-center">Created on {{ gallery.created_on.date()|e }}</p>
    <p class="text-center">Last updated on {{ gallery.updated_on.date()|e }}</p>
        {% if gallery.images | length > 0 %}
        <button class="btn btn-info btn-sm center-block"><a href="{{  request.route_url('upload_photos', id=gallery.id) }}" style="color: #3c3c3c">Add more photos</a> </button>
        {% endif %}
    {% endif %}
</div><br>
<div class="row">
    {% if gallery.images | length > 0 %}
        {% for img in gallery.images %}
    <div class="thumbnail col-sm-4" style="width: 303px; height: 230px;">
            {% if img.image_type == 'FFMPEG' %}
        <video src="{{ request.static_url(img.get_url()) }}" autoplay loop controls class="img-thumbnail"></video>
            {% else %}
        <img src="{{ request.static_url(img.get_url()) }}" class="img-thumbnail" alt="Could not load image">
            {% endif %}
    </div>
        {% endfor %}
    {% else %}
    <p class="text-info text-center">No image uploaded yet. <a href="{{ request.route_url('upload_photos', id=gallery.id) }}">Upload some now.</a> </p>
    {% endif %}
</div>
{% endblock %}