{% extends './layout.jinja2' %}

{% block NavigationBar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Navbar Site Image -->
        <div class="navbar-header">
            <a class="navbar-brand text-uppercase" href="{{ request.route_url('home') }}">Pyramid Image Upload</a>
        </div>

        <!-- The main Navigation bar -->
        <div>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown">
                        {{ request.user.name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ request.route_url('logout') }}">Logout</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}