{% extends '../../../templates/layouts/layout-with-nav.jinja2' %}

{% block PageContent %}
    {% if user %}
        {% if user.profile_picture %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4" style="border-right: 2px solid grey">
            {% if user.profile_picture.image_type == 'FFMPEG' %}
            <video src="{{ request.static_url(user.profile_picture.get_url((128, 128))) }}" autoplay loop class="img-thumbnail img-circle center-block" width="128" height="128"></video>
            {% else %}
            <img src="{{ request.static_url(user.profile_picture.get_url((128, 128))) }}" alt="Could not find image" class="img-thumbnail img-circle center-block">
            {% endif %}
            <a href="{{ request.route_url('add_profile_picture') }}" class="btn btn-info center-block">Change</a>
        </div>
        <div class="col-md-5">
            <h4 class="text-center header page-header">{{ user.name|e }}</h4>
            <p class="text-center">Joined on {{ user.joined_on.ctime()|e }}</p>
        </div>
        <div class="col-md-1"></div>
    </div><br>

    <div class="row">
        {% if user.galleries | count > 0 %}
                {% for gallery in user.galleries %}
                <div class="row" style="box-shadow: 0 0 3px 3px #3c3c3c; background-color: beige">
                    <div class="col-sm-4">
                        <a href="{{ request.route_url('show_gallery', id=gallery.id) }}">{{ gallery.title|e }}</a><br>
                        <p>{{ gallery.description }}</p>
                        <p>{{ gallery.images|length }}
                            {% if gallery.images|length > 0 %}
                            photos
                            {% else %}
                            photo
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-sm-4 text-center">
                        Created on {{ gallery.created_on.date()|e }}<br>
                        Updated on {{ gallery.updated_on.date()|e }}
                    </div>
                    <div class="col-sm-2">
                        <a href="{{ request.route_url('edit_gallery', id=gallery.id) }}" >Edit</a>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger btn-sm center-block">
                            <a href="{{ request.route_url('delete_gallery', id=gallery.id) }}" style="color: #0f0f0f">Delete</a>
                        </button>
                    </div>
                </div><br>
                {% endfor %}
            {% else %}
            <p class="text-center">No photo gallery created yet!</p>
            <a href="{{ request.route_url('add_gallery') }}" class="btn btn-info center-block">Create one now</a>
            {% endif %}
    </div>
</div>
        {% else %}
<button class="btn btn-info">
    <a href="{{ request.route_url('add_profile_picture') }}">Add a Profile Picture</a>
</button>
        {% endif %}
    {% endif %}
{% endblock %}