{% extends 'basetemplates/layout-with-nav.jinja2' %}

{% block PageContent %}
<register-or-login></register-or-login>
<script>
    System.import("homeapp").catch(function(err){ console.error(err); });
</script>
{% endblock %}